Unreal Engine
/Binaries/
/DerivedDataCache/
/Intermediate/
/Logs/
/Saved/
/Build/
/Dist/
/Intermediate/
/WindowsNoEditor/
/Android/
/IOS/
/Linux/
/Mac/
/Plugins/
/Programs/
/NotForLicensees/
/Temp/
/UserData/

Archivos de caché
/.sdf
/.opensdf
/.swp
/.swo
/.log
/.bak
/.pdb
/.ilk
/.idb
/.lib
/.dll
/.exe
/.pdb
/.ipch
/.ipynb_checkpoints/

Archivos de configuración
/.sln
/.suo
/*.xcuserstate
/.opendb
/.opensdf
/.vs/
.vscode/
Build/
DerivedDataCache/
Intermediate/
Saved/